---
title: "klika"
layout: "main"
---

{% block main %}

  <main>
    <h1>Kom<u>it</u></h1>

    <div class="black box ppl-1">
      <div class="left">
        <h2>Šta je Komit?</h2>
        <p>
          Online mesto za razmenu sadržaja o tehnologijama, gde ti je važan <u>kvalitet</u>, stav i poverenje.
        </p>
        <p>
          Sadržaj se <u>moderira</u>.<br>
          Postoji u tri oblika: 1) duži članak, 2) kratak zapis, misao, i 3) pitanje.<br>
          Sve vezano sa tehnologijama se prihvata: razvoj, preduzetništvo, primena, umetnost, društvo, primeri,
          projekti...
        </p>
        <p>
          Platforma je otvorena za one koji žele da joj se <u>posvete</u>.<br>
          Kao kada komituješ kod, ovde vodiš računa šta deliš.
        </p>
      </div>
    </div>

    <div class="white box ppl-2">
      <div class="right">
        <h2>Zašto Komit?</h2>
        <p>
          Previše sadržaja ima malu <u>vrednost</u>.<br>
          Kvalitet je zamenjen kvantitetom. Iskrenost reklamom.<br>
          Mišljenja kopiranjem. Tekst ilustracijama. Ideje trivijalnostima.<br>
        </p>
        <p>
          Nije problem u tome što postoje takva mesta.<br>
          Problem je u tome što ne postoji <u>alternativa</u>.
        </p>
      </div>
    </div>

    <div class="black box ppl-3">
      <div class="left">
        <h2>Šta nije Komit?</h2>
        <p>
          Nije <u>nikakva</u> zajednica.
        </p>
        <p>
          Nije mesto gde delite fotke vašeg radnog stola ili kućnih ljubimaca.<br>
          Nije agregator linkova i vesti.<br>
          Nije mesto za reklame.<br>
          Ovde nikog ne zanima kako uspevaš da, zamisli, radiš od kuće.<br>
          Sadržaj je oslobođen stock-fotografija i videa.<br>
          Nije mesto za omaložavanje drugih.<br>
          Ovde firme ne mogu da pišu o stonom fudbalu,<br>
          kancelarijskim žurkama, ni da tapšu sebe po leđima.<br>
          Nije forum. Nije pričaonica. Nema virtuelnih prijateljstava.
        </p>
        <p>
          Komit <u>nije</u> zabava.
        </p>
      </div>
    </div>

    <div class="white box ppl-4">
      <div class="right">
        <h2>Finansiranje</h2>
        <p>
          Nije nam cilj da zaradimo, već da <u>opstanemo</u>.
        </p>
        <p>
          Firme mogu da budu <u>partneri</u>, ali postoje stroga pravila šta postavljaju.
          Predstavljaju se samo tehnološkim stekom i projektima.
        </p>
        <p>
          Oglasi za posao sadrže isključivo 1) naziv pozicije,<br>
          2) do tri tražene veštine, 3) mesto, i 4) rang zarade.
        </p>
        <p>
          <u>Sadržaj</u> će zauvek biti dostupan pod CC-BY-4.0 licencom.
        </p>
      </div>
    </div>

    <div class="black box ppl-5">
      <div class="left">
        <h2>Poziv na akciju</h2>
        <p>
          Izrada je skupa, zasniva se na dobroj volji i volonterskom radu.<br>
          Zato nam prvo treba tvoja <u>potvrda</u>.
        </p>
        <p>
          Ukoliko <u>rezonuješ</u> sa idejom, javi.<br>
          <u>Podeli</u> je sa drugima, mi to nećemo raditi.<br>
          To je najmanje što možeš da učiniš.
        </p>
        <p>
          Cilj je prikupljanje 1000 potpisa.<br>
          Cenimo da će posle bar desetoro (1%) aktivno učestvovati.
        </p>
      </div>
    </div>

    <div class="box ppl-6">
      <form name="komit" method="POST" data-netlify="true" data-netlify-recaptcha="true" netlify-honeypot="bot-field">
        <p class="hidden">
          <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
        <div data-netlify-recaptcha="true"></div>
        <input type="email" placeholder="Tvoj e-mail" name="email" style="margin-top: 20px;">
        <button type="submit">Komitujem svoj glas, hvala.</button>
      </form>
    </div>

    <div class="black box">
      <div class="left">
        <h2>Kontakt Komit</h2>
        <p>
          Sva pitanja možeš uputiti Igoru:<br>
          komit@igo.rs<br>
          +381641294217<br>
        </p>
      </div>
    </div>
  </main>

{% endblock %}
