---
title: "klika"
layout: "main"
---

{% block main %}

  <main>
    <h1>Kom<u>it</u></h1>

    <div class="black box ppl-1">
      <div class="left">
        <h2>Šta je Komit?</h2>
        <p>
          Online mesto za razmenu sadržaja o tehnologijama, gde ti je važan <u>kvalitet</u>, stav i poverenje.
        </p>
        <p>
          Sadržaj se <u>moderira</u> od strane drugih.<br>
          Postoji u tri oblika: 1) duži članak, 2) kratak zapis, misao, 3) pitanje.
        </p>
        <p>
          Sve u vezi sa tehnologijama i softverskim inženjerstvom je dobrodošlo:
          razvoj, preduzetništvo, primena, umetnost, društvo, primeri, projekti...
        </p>
        <p>
          Platforma je otvorena za one koji žele da joj se <u>posvete</u>.<br>
          Kao kada komituješ kod, ovde vodiš računa šta se deli.
        </p>
        <p>
          Komit == bestOf(Medium + LinkedIn + StackOverlow);
        </p>
      </div>
    </div>

    <div class="white box ppl-2">
      <div class="right">
        <h2>Zašto Komit?</h2>
        <p>
          Previše sadržaja ima malu <u>vrednost</u>.
        </p>
        <p>
          Kvalitet je zamenjen kvantitetom. Iskrenost reklamom.<br>
          Mišljenja kopiranjem. Tekst ilustracijama. Ideje trivijalnostima.<br>
        </p>
        <p>
          Nije problem u tome što postoje takva mesta.<br>
          Problem je što nema <u>alternative</u>.
        </p>
      </div>
    </div>

    <div class="black box ppl-3">
      <div class="left">
        <h2>Šta nije Komit?</h2>
        <p>
          Nije <u>nikakva</u> zajednica.
        </p>
        <p>
          Nije mesto za reklame.<br>
          Nije agregator linkova i vesti.<br>
          Nije mesto gde delite fotke vašeg radnog stola ili kućnih ljubimaca.<br>
          Sadržaj je oslobođen stock-fotografija i videa.<br>
          Nije mesto za omalovažavanje drugih.<br>
          Ovde firme ne mogu da pišu o stonom fudbalu,<br>
          kancelarijskim žurkama, ni da tapšu sebe po leđima.<br>
          Nije forum. Nema virtuelnih prijateljstava.
        </p>
        <p>
          Komit <u>nije</u> zabava.
        </p>
      </div>
    </div>

    <div class="white box ppl-4">
      <div class="right">
        <h2>Finansije</h2>
        <p>
          Nije cilj da zaradimo, već da <u>opstanemo</u>.
        </p>
        <p>
          Firme mogu biti <u>partneri</u>, ali su stroga pravila šta postavljaju.
          Predstavljaju se samo tehnološkim stekom i projektima.
        </p>
        <p>
          Oglasi za posao sadrže isključivo 1) naziv pozicije,<br>
          2) do tri tražene veštine, 3) mesto, i 4) rang zarade.
        </p>
        <p>
          <u>Sadržaj</u> će zauvek biti dostupan pod CC-BY-4.0 licencom.
        </p>
      </div>
    </div>

    <div class="black box ppl-5">
      <div class="left">
        <h2>Poziv na akciju</h2>
        <p>
          Izrada je skupa, zasniva se na volonterskom radu.<br>
          Zato nam prvo treba tvoja <u>potvrda</u>.
        </p>
        <p>
          Ukoliko <u>rezonuješ</u> sa idejom, javi.<br>
          <u>Podeli</u> je sa drugima, mi to nećemo raditi.<br>
          To je najmanje što možeš da učiniš.
        </p>
        <p>
          Cilj je prikupljanje 1000 potpisa.<br>
          Smatramo da toliki odziv validira ideju.
        </p>
      </div>
    </div>

    <div class="box ppl-6">
      <form name="komit" method="POST" data-netlify="true" data-netlify-recaptcha="true" netlify-honeypot="bot-field">
        <p class="hidden">
          <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
        <div data-netlify-recaptcha="true"></div>
        <input type="email" placeholder="Tvoja e-mail adresa" name="email" style="margin-top: 20px;">
        <button type="submit">Komitujem svoj glas!
          Ideja zvuči korisno. Hvala.</button>
      </form>
    </div>

    <div class="black box">
      <div class="left">
        <h2>Kontakt Komit</h2>
        <p>
          Pitaj, podeli, javi, šta god.
        </p>
        <p>
          komit@igo.rs<br>
          +381641294217<br>
        </p>
      </div>
    </div>
  </main>

{% endblock %}
